.homeContainer{
    box-sizing: border-box;
    height: 989px;
    background-color: rgb(221, 218, 218);

}
.sloganContainer{
    height: 400px;
    width: 700px;
}
.slogan{
    padding-top: 300px;
    margin-left: 400px;
    margin-bottom: 0;
    font-size: 80px;

}
.slogaSubtitle{
    margin-left: 400px;
    margin-top: 0;
}
.slogaSubtitle span{
    color: #2e96d2;
}