@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@100&display=swap%27%27');
@import url('https://fonts.cdnfonts.com/css/gilroy-bold%27');

*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

:root{
    --mainColor:white; 
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: black;
    font-family: 'Roboto', sans-serif;
}
header nav{
    width: 800px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 50px;
}

a{
    text-decoration: none;
    font-size: 12px;
    color:#1a1717;
    font-family: 'gilroy', sans-serif;
    font-weight: 400;
}

img {
    max-width: 10%;
}
p{
    cursor: pointer;
    
}

button {
    font-size: 12px;
    color: #222222;
    font-family: 'gilroy', sans-serif;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

button:focus,
button:hover {
    color: #1d1b1b;
}

button:focus:after,
button:hover:after {
    width: 100%;
    left: 0%;
}

button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: #181717;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 800ms;
    transition-property: width, left;
}